/*Start of Matty Challenge CSS*/

.matty_container {
    width: 80%;
    background-color: rgba(0,0,0,.7);
    margin-left: 10%;
    }

    .matty_container:after {
    content: "";
    display: block;
    clear: both
}

    .matty_container_header {
        text-align: center;
        font-family: diplomata;
        color: #fff;
        padding-top: 35px;
        padding-bottom: 0px;
    }

    .matty_info_paragraph {
      font-size: 22px;
      padding: 3%;
    }

    .matty_info_column {
        width: 50%;
        float: left;
        color: #ff9000;
        padding: 3%;
        }

    .matty_img {
      width: 500px;
      height: 500px;
      float: right;
      margin-top: 9%;
      margin-right: 4%;
    }



/*End of Matty Challenge CSS*/
