/*Start of Matty Challenge CSS*/

.matty_container {
    width: 80%;
    background-color: rgba(0,0,0,.7);
    margin-left: 10%;
    }

    .matty_container:after {
    content: "";
    display: block;
    clear: both
}

    .matty_container_header {
        text-align: center;
        font-family: diplomata;
        color: #fff;
        padding-top: 35px;
        padding-bottom: 0px;
    }

    .matty_info_paragraph {
      font-size: 22px;
      padding: 3%;
    }

    .matty_info_column {
        width: 50%;
        float: left;
        color: #ff9000;
        padding: 3%;
        }

    .matty_img {
      width: 500px;
      height: 500px;
      float: right;
      margin-top: 10%;
      margin-right: 4%;
    }

    .hr_title {
      color: #ff9900;
      height: 3px;
      margin: 0px;
    }

        .video_section {
        width: 80%;
        background-color: rgba(0,0,0,.7);
        margin-left: 10%;
        }

        .video_section:after {
          content: "";
          display: block;
          clear: both;
        }

        .video_header {
          text-align: center;
          font-family: diplomata;
          color: #fff;
          padding-top: 55px;
          padding-bottom: 40px;
        }

        .video_box1 {
          width: 40%;
          margin: 0 auto;
          padding-top: 15px;
        }

        .video_box2 {
          width: 33%;
          float:left;
          margin-top: 40px;
          margin-left: 80px;
          padding-bottom: 25px;
        }

        .video_box3 {
          width: 33%;
          float:right;
          margin-top: 40px;
          margin-right: 80px;
          padding-bottom: 25px;

        }



        .video_title {
          text-align: center;
          font-family: diplomata;
          color: #ff9900;
        }



/*End of Matty Challenge CSS*/
