/*Start of Matty Challenge CSS*/

.matty_container {
    width: 80%;
    background-color: rgba(0,0,0,.7);
    margin-left: 10%;
    }
    
    .matty_container:after {
    content: "";
    display: block;
    clear: both
}
    
    .matty_container_header {
        text-align: center;
        font-family: diplomata;
        color: #fff;
        padding-top: 15px;
        padding-bottom: 25px;
    }
    
    .matty_info_column {
        width: 50%;
        float: left;
        color: #ff9000;
    
    }
    

/*End of Matty Challenge CSS*/